                        <div class="row">
                            <div class="col-lg-4">
                                <div class="col-12">
                                    <div class="widget-rounded-circle card-box">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar-lg" style="height: auto;">
                                                    <img src="{{book.coverUrl}}" class="img-fluid" alt="user-img" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-1 mt-2">{{book.title}}</h5>
                                                <p class="mb-2 text-muted">
                                                    <a href="{{parseUrl 'set-book-cover' urls id=book._id}}" class="card-link text-custom">Change book cover</a>
                                                    <a href="{{parseUrl 'upload-book' urls id=book._id}}" class="card-link text-custom">Update book file</a>
                                                    <a href="{{parseUrl 'download-book' urls slug=book.slug}}" download="{{book.title}}" class="card-link text-custom">Download Book</a>
                                                </p>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end widget-rounded-circle-->
                                </div> <!-- end col-->
                                
                                <!-- University-Information -->
                                <div class="col-12">
                                    <div class="card-box">
                                        <div class="row">
                                            <div class="col-6">
                                                <span style="font-size: 20px;"><b>Info</b></span>
                                            </div>
                                            <div class="col-6">
                                                <div class="text-right">
                                                    <a class="btn btn-danger waves-effect waves-light btn-sm" href="{{parseUrl 'edit-book' urls slug=book.slug}}">
                                                        <i class="mdi mdi-square-edit-outline avatar-title text-white"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <div class="text-left">
                                                <p class="text-muted"><strong>Title :</strong> <span class="ml-2">{{book.title}}</span></p>

                                                {{#if book.description}}
                                                    <p class="text-muted"><strong>Description :</strong><span class="ml-2">{{book.description}}</span></p>
                                                {{/if}}

                                                {{#if book.author}}
                                                    <p class="text-muted"><strong>Author :</strong><span class="ml-2">{{book.author}}</span></p>
                                                {{/if}}

                                                {{#if book.publisher}}
                                                    <p class="text-muted"><strong>Publisher :</strong><span class="ml-2">{{book.publisher}}</span></p>
                                                {{/if}}

                                                {{#if book.year}}
                                                    <p class="text-muted"><strong>Year Published :</strong><span class="ml-2">{{book.year}}</span></p>
                                                {{/if}}

                                                {{#if book.genre}}
                                                    <p class="text-muted"><strong>Genre :</strong><span class="ml-2">{{book.genre}}</span></p>
                                                {{/if}}
                                            </div>
                                        </div> <!-- end card-box-->
                                    </div>
                                </div> <!-- end col -->

                            <div class="col-lg-8">
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->