<div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xl-6">
        <div class="card">
            <div class="card-body">
                <h2>Add User</h2>
                <form method="POST" novalidate> 
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group">
                                <label for="menuicon">First Name</label>
                                <input type="text" id="firstName" name="firstName" {{#if formData}} value="{{formData.firstName}}"{{/if}} class="form-control {{#if firstNameError}}parsley-error{{/if}}" placeholder="First Name">
                                {{#if firstNameError}}
                                <ul class="parsley-errors-list filled"><li class="parsley-required">{{firstNameError}}</li></ul>
                                {{/if}}
                            </div>
                            <div class="form-group">
                                <label for="menuicon">Last Name</label>
                                <input type="text" id="lastName" name="lastName" {{#if formData}} value="{{formData.lastName}}"{{/if}} class="form-control {{#if lastNameError}}parsley-error{{/if}}" placeholder="Last Name">
                                {{#if lastNameError}}
                                <ul class="parsley-errors-list filled"><li class="parsley-required">{{lastNameError}}</li></ul>
                                {{/if}}
                            </div>
                            <div class="form-group">
                                <label for="menuicon">Email</label>
                                <input type="text" id="email" name="email" {{#if formData}} value="{{formData.email}}"{{/if}} class="form-control {{#if emailError}}parsley-error{{/if}}" placeholder="Email Address">
                                {{#if emailError}}
                                <ul class="parsley-errors-list filled"><li class="parsley-required">{{emailError}}</li></ul>
                                {{/if}}
                            </div>
                            <div class="form-group">
                                <label for="physicalAddress">Physical Address</label>
                                <textarea name="physicalAddress" class="form-control {{#if emailError}}parsley-error{{/if}}" id="physicalAddress" rows="3">{{#if formData}}{{formData.physicalAddress}}{{/if}}</textarea>
                                {{#if physicalAddressError}}
                                <ul class="parsley-errors-list filled"><li class="parsley-required">{{physicalAddressError}}</li></ul>
                                {{/if}}
                            </div>
                            <div class="form-group">
                                <label for="menuicon">Phone Number <em style="color: #a8a8a8">(Include country code)</em></label>
                                <input type="text" id="phoneNumber" name="phoneNumber" {{#if formData}} value="{{formData.phoneNumber}}"{{/if}} class="form-control {{#if phoneNumberError}}parsley-error{{/if}}" placeholder="Phone Number">
                                {{#if phoneNumberError}}
                                <ul class="parsley-errors-list filled"><li class="parsley-required">{{phoneNumberError}}</li></ul>
                                {{/if}}
                            </div>
                            <div class="form-group mb-3">
                                <label for="gender">User Type</label>
                                <select class="form-control {{#if userTypeError}}parsley-error{{/if}}" data-toggle="select2" id="userType" name="userType" style="width: 100%;">
                                    <option value="">Select User Type</option>
                                    <option {{#eq formData.userType 'Administrator'}}selected{{/eq}}>Administrator</option>
                                    <option {{#eq formData.userType 'Librarian'}}selected{{/eq}}>Librarian</option>
                                </select>
                                {{#if userTypeError}}
                                <ul class="parsley-errors-list filled"><li class="parsley-required">{{userTypeError}}</li></ul>
                                {{/if}}
                            </div>
                            <div class="form-group mb-3">
                                <label for="gender">Gender</label>
                                <select class="form-control {{#if genderError}}parsley-error{{/if}}" data-toggle="select2" id="gender" name="gender" style="width: 100%;">
                                    <option value="">Select Gender</option>
                                    <option {{#eq formData.gender 'Male'}}selected{{/eq}}>Male</option>
                                    <option {{#eq formData.gender 'Female'}}selected{{/eq}}>Female</option>
                                </select>
                                {{#if genderError}}
                                <ul class="parsley-errors-list filled"><li class="parsley-required">{{genderError}}</li></ul>
                                {{/if}}
                            </div>
                            <div class="form-group mb-3">
                                <label for="dateOfBirth">Date of Birth</label>
                                <input id="humanfd-datepicker" type="text" name="dateOfBirth" data-provide="datepicker" {{#if formData}} value="{{formData.dateOfBirth}}"{{/if}} class="form-control {{#if dateOfBirthError}}parsley-error{{/if}}" placeholder="Choose date of birth">
                                {{#if dateOfBirthError}}
                                <ul class="parsley-errors-list filled"><li class="parsley-required">{{dateOfBirthError}}</li></ul>
                                {{/if}}
                            </div>
                            <div class="form-group">
                                <label for="country">Country</label>
                                <select class="form-control {{#if countryError}}parsley-error{{/if}}" data-toggle="select2" name="country" style="width: 100%;">
                                    <option value="">Select Country</option>
                                    {{#each countries}}
                                    <option {{#eq @root.formData.country this.name}}selected{{/eq}}>{{this.name}}</option>
                                    {{/each}}
                                </select>
                                {{#if countryError}}
                                <ul class="parsley-errors-list filled"><li class="parsley-required">{{countryError}}</li></ul>
                                {{/if}}
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div> <!-- end col-->
                    </div>
                    <!-- end row -->
                </form>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->