                        <div class="row">
                            <div class="col-lg-4">
                                <div class="col-12">
                                    <div class="widget-rounded-circle card-box">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar-lg">
                                                    <img src="{{userData.photoUrl}}" class="img-fluid" alt="{{userDetails.fullName}}" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-1 mt-2">{{userData.fullName}}</h5>
                                                <p class="mb-2 text-muted">
                                                    <a href="{{parseUrl 'set-picture' urls id=userData._id}}" class="card-link text-custom">Change Picture</a>
                                                </p>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end widget-rounded-circle-->
                                </div> <!-- end col-->

                                <!-- Personal-Information -->
                                <div class="col-12">
                                    <div class="card-box">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="avatar-sm rounded">
                                                    <i class="fe-alert-circle avatar-title font-22" style="color: #c5c5c5;"></i>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="text-right">
                                                    <a class="btn btn-danger waves-effect waves-light btn-sm" href="{{parseUrl 'edit-user' urls id=userData._id}}">
                                                        <i class="mdi mdi-square-edit-outline avatar-title text-white"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <div class="text-left">
                                                <p class="text-muted"><strong>Full Name :</strong> <span class="ml-2">{{userData.firstName}} {{userData.lastName}}</span></p>
                                                <p class="text-muted"><strong>User Type :</strong> <span class="ml-2">{{userData.userType}}</span></p>
                                                {{#if userData.phoneNumber}}
                                                    <p class="text-muted"><strong>Mobile :</strong><span class="ml-2">{{userData.phoneNumber}}</span></p>
                                                {{/if}}

                                                <p class="text-muted"><strong>Email :</strong> <span class="ml-2">{{userData.email}}</span></p>

                                                {{#if userData.physicalAddress}}
                                                    <p class="text-muted"><strong>Address :</strong><span class="ml-2">{{userData.physicalAddress}}</span></p>
                                                {{/if}}

                                                {{#if userData.gender}}
                                                    <p class="text-muted"><strong>Gender :</strong><span class="ml-2">{{userData.gender}}</span></p>
                                                {{/if}}

                                                {{#if userData.dateOfBirth}}
                                                    <p class="text-muted"><strong>Date of birth :</strong><span class="ml-2">{{formatDate userData.dateOfBirth}}</span></p>
                                                {{/if}}

                                                {{#if userData.country}}
                                                    <p class="text-muted"><strong>Country :</strong><span class="ml-2">{{userData.country}}</span></p>
                                                {{/if}}
                                            </div>
                                        </div> <!-- end card-box-->
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end col-->

                            <div class="col-lg-8">
                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->