                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3 text-center">
                                                <img class="img-fluid" src="{{userData.photoUrl}}" alt="{{userDetails.fullName}}'s profile picture'">
                                            </div>
                                            <div class="col-9">
                                                <h3 class="card-title">{{userData.fullName}}</h3>
                                                <a href="{{parseUrl 'set-picture' urls id=userData._id}}" class="card-link text-custom">Change Picture</a>
                                                <a href="{{parseUrl 'edit-user' urls id=userData._id}}" class="card-link text-custom">Edit Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Personal-Information -->
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-3">User Information</h4>
                                        <p class="text-muted font-13">{{userData.bio}}</p>

                                        <hr/>

                                        <div class="text-left">
                                            <p class="text-muted"><strong>Full Name :</strong> <span class="ml-2">{{userData.firstName}} {{userData.lastName}}</span></p>

                                            {{#if userData.phoneNumber}}
                                                <p class="text-muted"><strong>Mobile :</strong><span class="ml-2">{{userData.phoneNumber}}</span></p>
                                            {{/if}}

                                            <p class="text-muted"><strong>Email :</strong> <span class="ml-2">{{userData.email}}</span></p>

                                            {{#if userData.address}}
                                                <p class="text-muted"><strong>Address :</strong><span class="ml-2">{{userData.address}}</span></p>
                                            {{/if}}

                                            {{#if userData.gender}}
                                                <p class="text-muted"><strong>Gender :</strong><span class="ml-2">{{userData.gender}}</span></p>
                                            {{/if}}

                                            {{#if userData.dateOfBirth}}
                                                <p class="text-muted"><strong>Date of birth :</strong><span class="ml-2">{{formatDate userData.dateOfBirth}}</span></p>
                                            {{/if}}

                                            {{#if userData.country}}
                                                <p class="text-muted"><strong>Country :</strong><span class="ml-2">{{userData.country}}</span></p>
                                            {{/if}}

                                        </div>
                                    </div>
                                </div>
                                <!-- Personal-Information -->

                            </div> <!-- end col-->

                            <div class="col-lg-8">
                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->