<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    <div class="row">
                        <div class="col-xl-12">
                            <input type="hidden" name="title" id="title">
                            <div class="form-group">
                                <label for="menuicon">Menu Icon</label>
                                <input type="text" id="menuicon" name="menuicon" class="form-control" placeholder="Enter icon name">
                                Available Icons: <a href="{{url 'dripicons'}}" target="_blank">Dripicons</a>, 
                                                            <a href="{{url 'mdicons'}}" target="_blank">MD Icons</a>,
                                                            <a href="{{url 'unicons'}}" target="_blank">Unicons</a>
                            </div>
                            
                            <div class="form-group">
                                <label for="project-overview">Menu</label>
                                <select name="module" class="form-control select2" data-toggle="select2">
                                    <option>Select Menu</option>
                                    {{#each modules}}
                                    <option value="{{this.name}}">{{this.title}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="project-overview">Platform</label>
                                <select name="platform" class="form-control select2" data-toggle="select2">
                                    <option>Select Platform</option>
                                    <option value="both">Both</option>
                                    <option value="dashboard">Dashboard</option>
                                    <option value="site">Site</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div> <!-- end col-->
                    </div>
                    <!-- end row -->
                </form>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->