                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <form class="form-inline">
                                                    <div class="form-group mb-2">
                                                        <label for="inputPassword2" class="sr-only">Search</label>
                                                        <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
                                                    </div>
                                                </form>                            
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-md-right">
                                                    <a href="{{parseUrl 'add-university' urls}}">
                                                        <button type="button" class="btn btn-danger waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-account mr-1"></i> Add University</button>
                                                    </a>
                                                    <button type="button" class="btn btn-success waves-effect waves-light mb-2 mr-1"><i class="mdi mdi-filter"></i></button>
                                                </div>
                                            </div><!-- end col-->
                                        </div>
                
                                        {{#each universities.docs}}
                                        <div class="card-box mb-2">
                                            <div class="row align-items-center">
                                                <div class="col-sm-8">
                                                    <div class="media">
                                                        <img class="d-flex align-self-center mr-3 rounded-circle" src="{{this.logoUrl}}" alt="Generic placeholder image" height="64">
                                                        <div class="media-body">
                                                            <h4 class="mt-0 mb-2 font-16"><a href="{{parseUrl 'university' @root.urls id=this._id}}">{{this.name}}</a></h4>
                                                            <p class="mb-1"><b>Country:</b> {{this.country}}</p>
                                                            {{#if this.librarian}}
                                                            <p class="mb-0"><b>Librarian:</b> {{this.librarian.fullName}}</p>
                                                            {{/if}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="mb-1 mt-3 mt-sm-0"><i class="mdi mdi-email mr-1"></i> {{this.email}}</p>
                                                    <p class="mb-0"><i class="mdi mdi-phone-classic mr-1"></i> {{this.phoneNumber}}</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="text-sm-right">
                                                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                    </div>
                                                </div> <!-- end col-->
                                            </div> <!-- end row -->
                                        </div> <!-- end card-box-->
                                        {{/each}}
                                        

                                        <input type="hidden" id="paginationData" value='{ "totalDocs": {{universities.totalDocs}}, "limit": {{universities.limit}}, "totalPages": {{universities.totalPages}}, "page": {{universities.page}}, "pagingCounter": {{universities.pagingCounter}}, "hasPrevPage": {{universities.hasPrevPage}}, "hasNextPage": {{universities.hasNextPage}}, "prevPage": {{#if universities.prevPage}}{{universities.prevPage}}{{else}}null{{/if}}, "nextPage": {{#if universities.nextPage}}{{universities.nextPage}}{{else}}null{{/if}} }'>
                                        <input type="hidden" value="{{parseUrl 'universities' urls page='toBeReplaced' limit=universities.limit}}" id="paginateUrl">
                                        <ul id="paginate" class="pagination pagination-rounded justify-content-end my-2"></ul>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->